body {
    background: #666;
}

.pipeline-editor-container {
    position: fixed;
    padding: 20px;
    border: 1px solid yellow;
    width: calc(100% - 100px);
    height: calc(100% - 180px);
    background: #999;
    z-index: 100;
}

.pipeline-editor-panel-buttons {
    display: block;
    margin-bottom: 10px;
}

.pipeline-editor-canvas-container {
    border: 1px solid yellow;
    width: calc(100% - 100px);
    height: calc(100% - 180px);
    overflow: scroll;
}

.pipeline-editor-tabs {
    display: block;
    z-index: 1000;
    position: relative;
}

.pipeline-editor-tab {
    display: inline-block;
    background: #aa66aa;
    padding: 10px;
    border-top: 1px solid yellow;
    border-left: 1px solid yellow;
    border-right: 1px solid yellow;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    vertical-align: bottom;
    cursor: pointer;
}

.pipeline-editor-tab.active {
    margin-bottom: -1px;
    background: #999;
}

.json-content {
    width: 100%;
    height: calc(100% - 10px);
}

.pipeline-editor-btn {
    display: inline-block;
    background: #aa66aa;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid yellow;
    color: yellow;
    cursor: pointer;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.pipeline-editor-btn:hover {
    background: #6666aa;
}


.pipeline-editor-table {
    display: table;
    position: relative;
}

.pipeline-editor-table-cell {
    position: relative;
    display: table-cell;
}